<div class="floating-buttons">
  <% if (settings.zalo) { %><a href="https://zalo.me/<%= settings.zalo %>" class="floating-btn floating-zalo" target="_blank" title="Chat Zalo"><img src="https://page.widget.zalo.me/static/images/2.0/Logo.svg" alt="Zalo" width="30" height="30"></a><% } %>
  <a href="tel:<%= (settings.phone || '').replace(/\./g, '') %>" class="floating-btn floating-phone" title="Gọi ngay"><i class="fas fa-phone-alt"></i></a>
  <a href="/lien-he" class="floating-btn floating-cta" title="Nhận mẫu thiết kế"><i class="fas fa-clipboard-list"></i><span class="d-none d-md-inline"> Nhận mẫu</span></a>
</div>
<a href="#" class="back-to-top" id="backToTop" title="Lên đầu trang"><i class="fas fa-chevron-up"></i></a>
